body {
  margin: 0;
  background-color: black;
  padding-top: 1.5%;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.navbar {
  display: block;
  width: 100%;
  text-align: right;
}

.nav {
  display: inline-block;
  margin-left: 2%;
  font-family: sans-serif;
  font-size: 1vw;
  color: white;
  font-weight: normal;
  padding-right: 5%;
}

.nav:hover {
  color: #FF6B3D;
  transition: all .3s ease;
}

.member {
  width: 20%;
  display: inline-block;
  padding: none;
  margin-left: 1%;
  text-align: left;
}

img {
  width: 100%;
}


hr {
  width: 20%;
  margin-left: 0%;
}

.devs {
  text-align: center;
  margin-top: 5%;
}

h1 {
  color: white;
  font-size: 4vw;
}
h3 {
  font-size: 2vw;
  color: #FF6B3D;
}

.name {
  font-weight: bold;
  color: white;
}

.job {
  color: #FF6B3D;
  margin-top: -4%;
}

.member:hover {
  -webkit-filter: brightness(50%);
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all .8s ease;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  text-align: left;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
